name: shaker
description: A Flutter package that provides an easy-to-use widget for adding customizable shake animations to any Flutter widget. Built on flutter_animate with support for duration, frequency, rotation, offset, and curve customization.
issue_tracker: https://github.com/SoundSliced/shaker/issues
repository: https://github.com/SoundSliced/shaker
version: 1.0.0
homepage: https://github.com/SoundSliced/shaker

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_animate: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
